APP_TIMEZONE=America/Bogota
FRONTEND_PORT=8080
INGESTION_PORT=8080
SCORING_PORT=8080
SCORING_BASE_URL=http://scoring:8080
SCORING_TIMEOUT_MS=750
SCORING_CRITERIA_VERSION=SCORING-MVP-1.0.0
AUTH_MODE=development
AUTH_ISSUER=http://dev-auth:8080
AUTH_AUDIENCE=alternative-credit-scoring
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=alternative_scoring
DATABASE_USER=scoring_app
RETENTION_DATABASE_USER=scoring_retention_job
DATABASE_SSL_MODE=disable
LOG_LEVEL=info
